.li-text-color {
    color: blue;
    transition: color 400ms ease;
}
.li-text-color:active {
    color: red;
}

@keyframes mymove {
    0% {font-size: 10px;}
    50% {font-size: 40px;}
    100% {font-size: 60px;}
}

.li-transform > a:hover {
  transform: scale(1.6);
  transition: transform 0.5s ease-in-out;
}

.li-text-transform {
    transform: perspective(1) scaleZ(1) rotateX(0deg);
    transition: transform 0.75s ease;  
}

.li-text-transform:hover {
    transform: perspective(500px) scaleZ(2) rotateX(45deg);
}